*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    font-family: sans-serif;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


.header{
    height: 100px;
}

.logo{
    width: 300px;
    height: 100px;
    text-align: center;
    position: absolute;
}

.logo_text{
    position: relative;
    font: normal 34px sans-serif;
    margin-top: 25px;
}

.buttons{
    margin-right: 100px;
    margin-top: 30px;
    float: right;
}

.btn{
    width: 100px;
    padding: 5px;
    font-size: 20px;
}

.admin__btn{
    background-color: crimson;
}

.client__btn{
    background-color: deepskyblue;
}

.admin__page{
    width: 100%;
    margin: 0 auto;
    display: none;
}

.goods__table{
    width: 70%;
    margin: 20px auto 0;
    border-collapse: collapse;
}

td{
    padding: 20px;
    border: 1px solid gray;
}

.table__img{
    width: 70px;
    height: 70px;
}

.add__btn__wrapper{
    width: 100px;
    margin: 30px auto;
}

.add__btn{
    width: 100%;
    height: 40px;
}

.admin__form__wrapper {
    margin: 0 auto;
    display: none;
}

#admin__form{
    width: 200px;
    margin: 0 auto;
}

textarea{
    resize: none;
}

#code{
    width: 200px;
    font-size: 30px;
    margin-bottom: 10px;
}

#name{
    width: 200px;
    font-size: 30px;
    margin-bottom: 5px;
}

#desc{
    width: 200px;
    height: 70px;
    margin-bottom: 10px;
    font-size: 18px;
}

#price{
    width: 200px;
    font-size: 30px;
    margin-bottom: 10px;
}

label {
    font-size: 20px;
    color: crimson;
}

#add__form__btn, #save__form__btn{
    width: 70px;
    margin-top: 10px;
}

.goods__available{
    width: 70%;
    margin: 20px auto 0;
}

.item{
    margin: 20px auto;
    display: flex;
    flex-direction: row;
}

.good__image{
    margin: 0 auto;
    width: 25%;
}

.good__image img{
    width: 100%;
    height: 100%;
}

.good__description{
    margin: 0 10px;
    width: 65%;
}

.good__actions{
    margin: 0 auto;
    width: 10%;
}

.good__name {
    font-size: 24px;
    font-weight: bold;
}

.description__text {
    margin-top: 10px;
}

.good__price {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #2b9700;
}

.cart{
    width: 300px;
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.addedItems{
    width: 100%;
    text-align: center;
    margin: 10px;
    font-size: 20px;
    color: darkslategray;
}

.total__price{
    font-size: 40px;
    margin: 10px;
    color: green;
    font-weight: bold;
}

.client__page{
    display: flex;
    flex-direction: row;

}